.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lInput {
  height: 30px;
  padding: 10px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}

.logininputinner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.logininputlabel {
  flex: 1;
  text-align: right;
}
.logininputinput {
  flex: 1;
}
